* {
    margin: 0 auto;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.warp {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 500px;
    border: 1px solid black;
    padding: 40px;
}

.head {
    width: 400px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    border-bottom: 1px solid black;
}

.head > h1 {
    cursor: default;
}

.main {
    width: 400px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main > input {
    width: 400px;
    height: 40px;
    margin-bottom: 30px;
    border-radius: 10px;
    border: 1px solid #111;
}

.push {
    width: 400px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.push > button {
    width: 400px;
    height: 40px;
    border-radius: 10px;
    border: 1px solid #111;
    font-weight: 900;
    font-size: 20px;
    cursor: pointer;
}

.push > button:hover {
    background-color: lightblue;
    transition: 0.1s;
}

.register {
    width: 400px;
    height: 40px;
    text-align: center;
}

.items {
    width: 400px;
    height: 40px;
    text-align: center;
    line-height: 40px;
}

.items > a:nth-child(1):hover {
    color: blue;
    transition: all 0.1s;
}

input::placeholder {
    padding: 10px;
}