* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

.body {
    width: 100%;
    height: 756px;
    background-color: #aaa;
}

header {
    width: 100%;
    height: 100px;
    background-color: #888;
    display: flex;
}

.logo {
    width: 300px;
    height: 100px;
    /* background-color: lightcoral; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo > a > img {
    width: 80px;
    height: 80px;
}

nav {
    width: 900px;
    height: 100px;
    background-color: lightgreen;
    display: flex;
    justify-content: right;
    align-items: center;
}


nav > ul {
    width: 850px;
    height: 100px;
    background-color: lightgoldenrodyellow;
    display: flex;
    justify-content: center;
    align-items: center;
    /* color: #fff; */
}

nav > ul > a {
    width: 400px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.items {
    width: 400px;
    height: 100px;
    /* background-color: lightpink; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.items > img {
    width: 50px;
    height: 50px;
}

.items > img:nth-child(2) {
    width: 70px;
    height: 30px;
    
}

.items > img:nth-child(3) {
    width: 100px;
    height: 50px;
}

.container {
    width: 1920px;
    height: 700px;
    background-color: #aaa;
    display: flex;
}

.window {
    width: 1920px;
    height: 700px;
    overflow: hidden;
}

.slide {
    position: relative;
    width: 5760px;
    height: 700px;
    display: flex;
    animation: slide 5s infinite linear;
}

.slide > img {
    width: 1920px;
    height: 700px;
}

@keyframes  slide {
    0% {
        left: 0;
    }

    50% {
        left: -1920px;
    }

    100% {
        left: -5760px;
    }
}