* {
    margin: 0 auto;
    padding: 0;
}

body li {
    list-style: none;
}

body a {
    text-decoration: none;
    color: inherit;
}

/* header 영역 */
header {
    width: 100%;
    height: 100px;
    display: flex;
    background: linear-gradient(45deg, darkblue, lightblue);
    color: #fff;
}

.head {
    width: 1920px;
    max-width: 1920px;
    height: 100px;
    display: flex;
}

.logo {
    width: 300px;
    height: 100px;
}

.logo > h1 {
    text-align: center;
    line-height: 100px;
}

.inBox {
    position: relative;
    width: 800px;
    height: 100px;
    display: flex;
    justify-content: right;
    align-items: center;
}

.inBox > input {
    width: 250px;
    height: 35px;
    border-radius: 30px;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.inBox > svg {
    position: absolute;
    left: 770px;
}

.inBox > input::placeholder {
    color: #fff;
    padding: 10px;
}

.headerBtn {
    width: 300px;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.headerBtn > button {
    color: #fff;
    background-color: transparent;
    border: none;
    margin-left: 10px;
}

.headerBtn > button:nth-child(1)> label {
    display: block;
}

.logb {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(-50%,-50%);
    background-color: #fff;
    display: none;
}

.lbox {
    width: 500px;
    height: 500px;
    border: 1px solid black;
    color: #111;
}

.logotext {
    width: 500px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    border-bottom: 1px solid black;
}

#modal2:checked~.logb {
    display: block;
}
/* nav 영역 */
nav {
    width: 100%;
    height: 50px;
    display: flex;
    background-color: lightblue;
}

.items {
    width: 1920px;
    max-width: 1920px;
    height: 50px;
    display: flex;
}

.itemBox1 {
    width: 600px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    font-weight: 900;
}

.itemBox2 {
    width: 600px;
    height: 50px;
    display: flex;
    justify-content: right;
    align-items: center;
    font-size: 16px;
    font-weight: 900;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6,
.box7,
.box8,
.box9 {
    width: 90px;
    height: 40px;
    line-height: 40px;
}

.box1 > input{
    display: none;
}

.modalb {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 999;
    display: none;
}

.box {
    position: fixed;
    width: 600px;
    height: 500px;
    background-color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

#modal1:checked~.modalb {
    display: block;
}

.open {
    cursor: pointer;
}

#close {
    position: absolute;
    right: 0;
    width: 100px;
    height: 40px;
    background-color: lightblue;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}

.stats {
    width: 600px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
}

.stats > h2 {
    font-weight: 900;
}

#modal1{
    display: none;
}
/* con1 영역 */
.con1 {
    width: 100%;
    height: 400px;
    margin-bottom: 40px;
}

.idiom {
    width: 1200px;
    max-width: 1200px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A5ACE8;
    z-index: 1;
}

.idiom > li {
    font-size: 70px;
}

.idiom > button {
    width: 50px;
    height: 50px;
    background-color: transparent;
    background-color: #fff;
    border: 1px solid black;
    border-radius: 35px;
    font-size: 30px;
    margin-left: 15px;
    margin-right: 15px;
}

/* con2 영역 */
.con2 {
    width: 100%;
    height: 700px;
    display: flex;
}

.idiom-sub {
    width: 1200px;
    max-width: 1200px;
    height: 700px;
    background-color: #A5ACE8;
}

.idiom-sub > p {
    font-weight: 900;
    line-height: 60px;
    font-size: 20px;
    margin-left: 20px;
}