.menu {
    width: 800px;
    overflow: hidden;
    margin: 150px auto;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.menu > li {
    width: 20%; /*20*5=100%*/
    float: left;
    text-align: center;
    line-height: 40px;
    background-color: #5778ff;
}

.menu a {
    color: #fff;
}

.submenu > li {
    line-height: 50px;
    background-color: #94a9ff;
}

.submenu {
    height: 0; /*ul의 높이를 안보이게 처리*/
    overflow: hidden;
}

.menu > li:hover {
    background-color: #94a9ff;
    transition-duration: 0.5s;
}

.menu > li:hover .submenu {
    height: 250px; /*서브메뉴 li한개의 높이 50*5*/
    transition-duration: 1s;}