* {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

header {
    width: 1320px;
    height: 200px;
    background-color: #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
}

.menu {
    width: 900px;
    height: 200px;
    display: flex;
    justify-content: center;
    background-color: lightblue;
}

.submenu {
    width: 150px;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-left: 20px;
    position: relative;
}

.menubtn {
    text-align: center;
    line-height: 40px;
    margin-bottom: 10px;
}

.submenu > li {
    width: 70px;
    margin-bottom: 10px;
}

.submenu > a {
    width: 150px;
    height: 40px;
    background-color: lightcyan;
    display: block;
    padding: 10px;
}

.submenu > a:hover {
    background: lightblue;
}

.submenu .active {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1;
}

.submenu~.submenu > li {
    display: block;
}