* {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

header {
    width: 1200px;
    height: 100px;
    background-color: #111;
    display: flex;
    margin: 20px;
    border-radius: 15px;
}

.logo {
    width: 200px;
    height: 100px;
    /* background-color: #aaa; */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 24px;
}

nav {
    width: 800px;
    height: 100px;
    /* background-color: lightpink; */
    display: flex;
    justify-content: center;
    align-items: center;
}

nav > ul {
    width: 400px;
    height: 100px;
    /* background-color: lightblue; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul > li {
    width: 120px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* background-color: gray; */
    border: solid 1px #eee;
    border-radius: 20px;
    color: #fff;
}

.Box {
    width: 200px;
    height: 100px;
    /* background-color: #999; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.Box > button {
    width: 120px;
    height: 55px;
    border-radius: 12px;
    border: none;
    font-weight: 900;
}