* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #6c757d;   
}

a {
    text-decoration: none;
    color: inherit;
}

li {
    list-style: none;
}

/* 헤더 영역 */
header {
    width: 100%;
    display: flex;
    color: #fff;
}

.logo {
    width: 400px;
    height: 100px;
    text-align: center;
    line-height: 100px;
}

nav {
    width: 800px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    width: 600px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

li {
    width: 130px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sns {
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sns-items {
    width: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sns-items > svg {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

/* 컨테이너 영역 */
.container {
    width: 100%;
    height: 800px;
}

.con1 {
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.idiom-screen {
    width: 800px;
    height: 400px;
    display: flex;
    overflow: hidden;
    border-radius: 15px;
}

.idiom-items {
    height: 400px;
    display: flex;
    transition: transform 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.idiom-items > div {
    width: 800px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
    border-radius: 15px;
    font-size: 36px;
}

/* 버튼 */
.button-area {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.prev-button,
.next-button {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    margin: 20px;
    border-radius: 5px;
}
